00. Material de apoyo/.DS_Store
00. Material de apoyo/01. Diapositivas/1.Introducción a Contenedores y Docker.pptx
00. Material de apoyo/01. Diapositivas/2.Instalando Docker.pptx
00. Material de apoyo/01. Diapositivas/3.Empezando con Docker.pptx
00. Material de apoyo/01. Diapositivas/4.Creacion de Imagenes.pptx
00. Material de apoyo/01. Diapositivas/5.Manejando Volumenes.pptx
00. Material de apoyo/01. Diapositivas/6.Aplicaciones Multicontenedor Docker Compose.pptx
00. Material de apoyo/01. Diapositivas/7.DockerRegistry.pptx
00. Material de apoyo/01. Diapositivas/8.TrabajandoConDocker.pptx
00. Material de apoyo/01. Diapositivas/9.Kubernetes.pptx
00. Material de apoyo/02. Repositorio/.DS_Store
00. Material de apoyo/02. Repositorio/ArrancarMaquinaVirtualUbuntu.docx
00. Material de apoyo/02. Repositorio/Instalacion VMWare Player.docx
00. Material de apoyo/03. MV/Ubuntu_Docker.zip
00. Material de apoyo/04. Ficheros/examples/2.InstalandoDocker/2.2-Instalar-Docker-Comandos.txt
00. Material de apoyo/04. Ficheros/examples/2.InstalandoDocker/2.3-Nuestro-primer-contenedor-Comandos.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/3-5-Salvar-y-cargar-im-genes-Comandos.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/3.1.Comandos.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/3.2-Imagenes-y-contenedores-Comandos.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/3.3.DockerStore-DockerHub.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/3.4.ComandosParaContenedores.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/ejercicio1.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/ejercicio2.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/ejercicio3.txt
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/imagen.tar.gz
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/imagen2.tar.gz
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen1/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen1_ubuntu_vim/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen2/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen2/fichero.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen2/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen2/carpeta/fichero2.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen3/app.py
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen3/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen3/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen3/requirements.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen3/templates/index.html
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/_dockerignore
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/fichero.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/carpeta/docker.png
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/carpeta/fichero2.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen4_DockerIgnore_Ejercicio/carpeta/carpeta2/fichero3.txt
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen5_cache/app.py
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen5_cache/Dockerfile
00. Material de apoyo/04. Ficheros/examples/4.CreacionDeImagenes/Imagen5_cache/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/5.Volumenes/Volumen1/ficheroVolumenes.txt
00. Material de apoyo/04. Ficheros/examples/5.Volumenes/Volumen1/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/5.Volumenes/Volumen2_ContenedorConVolumen/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-1/counter.py
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-1/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-1/Dockerfile
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-1/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-1/requirements.txt
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-2/app.py
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-2/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-2/Dockerfile
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-2/requirements.txt
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-2/templates/todo.html
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-3-clusterhadoop/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-3-clusterhadoop/hadoop.env
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-ejercicio/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/6.Compose/docker-compose-ejercicio/intrucciones.txt
00. Material de apoyo/04. Ficheros/examples/7.DockerRegistry/docker-compose_first.yml
00. Material de apoyo/04. Ficheros/examples/7.DockerRegistry/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/7.DockerRegistry/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/DockerSwarm/instalacionYejecucion.txt
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/counter.py
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/docker-compose.yml
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/Dockerfile
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/Dockerfile.test
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/requirements.txt
00. Material de apoyo/04. Ficheros/examples/8.TrabajandoConDocker/IntegracionContinua/IC_Ejemplo1/test.sh
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Ejemplo1EnKubernetes/ejemplo1.yml
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Ejemplo1EnKubernetes/instruccionesEjemplo1.txt
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Ejemplo2_Pod/deployment.yaml
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Ejemplo2_Pod/instrucciones.txt
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Ejemplo2_Pod/pod.yaml
00. Material de apoyo/04. Ficheros/examples/9.Kubernetes/Instalacion/instalacion.txt
.DS_Store
