00. Material de apoyo/.DS_Store
00. Material de apoyo/02. Repositorio/.DS_Store
00. Material de apoyo/03. MV/Ubuntu_Docker.zip
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/imagen.tar.gz
00. Material de apoyo/04. Ficheros/examples/3.EmpezandoConDocker/ejercicios/imagen2.tar.gz
.DS_Store